#about-us {
	background-color: $background;
	.border-right {
		border-right: 1px solid black;
	}
	.to-bottom {
		padding-bottom: 0;
	}
	.space-out {
		display: flex;

		flex-flow: column nowrap;
		justify-content: space-between;
	}
}
