// Styling for the contact section
section#contact {
  background-color: $background-dark;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
      border: none;
      box-shadow: none;
    }
    .bar {
      position: relative;
      display: block;
    }

    .bar:before,
    .bar:after {
      content: '';
      height: 3px;
      width: 0;
      bottom: 63px;
      position: absolute;
      background: $white;
      transition: 0.2s ease all;
    }

    .bar:before {
      left: 50%;
    }

    .bar:after {
      right: 50%;
    }

    input.form-control:focus ~ .bar:before,
    input.form-control:focus ~ .bar:after {
      width: 50%;
    }

    input.form-control {
      height: auto;
      background-color: $background;
      color: white;
      border-radius: 0;
    }
    textarea.form-control {
      height: 248px;
      background-color: $background;
      color: white;
      resize: none;
    }
  }
  input.form-control:focus, input.form-control:active {
    border: none;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $white;
    @include roboto;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $white;
    @include roboto;
    /* Firefox 18- */
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $white;
    @include roboto;
    /* Firefox 19+ */
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $white;
    @include roboto;
  }
  .contact-info {
    color: $white;
    font-size: 22px;
    @include roboto;
  }
  .contact-info-inner {
    color: $white;
    margin-left: 30px;
    margin-bottom: 40px;
    @include roboto;

    &.work-time-day {
      width: 60px;
      text-align: center;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  .contact-info-links {
     a {
       color: $white;
     }
  }

  .help-block {
    @include roboto;
    font-size: medium;
  }
}
