// Styling for the services section
.service-heading {
	text-transform: none;
	font-weight: 400;
	font-family: Roboto, sans-serif;
	padding-bottom: 50px;
}
#services {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $background;
	img {
		border-radius: 50%;
	}
	.orange-header {
		color: $custom-dark-orange;
	}
	.service {
		margin-bottom: 20px;
		.price-sticker {
			position: absolute;
			bottom: 0;
			border-radius: 5px;
			font-size: 18px;
			padding: 10px;
			color: $white;
			text-align: center;
			background-color: $custom-orange;
			font-weight: bold;
		}

		&-left {
			.price-sticker {
				right: 0;
			}
		}
		&-right {
			text-align: right;
		}
		
	}
}
